<div th:fragment="index" class="container-fuild">
	<div class="row">
		<div class="blockMain col-md-12">
			<div id="title">iPo浪</div>
			<!-- <div id="title3" ><img src="images/title3.png" ></div> -->
			<div id="button">

				<div>
<!-- 					<input type="image" src="<c:url value='/images/search.png'/>" -->
<!-- 						onclick="location.href='_s/sHomepage.jsp'" id="search" /> -->
				</div>
				<div>
<!-- 						<input type="image" src="<c:url value='/images/stray.png'/>" -->
<!-- 						onclick="location.href='_h/hHomepage.jsp'" id="stray" /> -->
				</div>
				<div>
<!-- 						<input type="image" src="<c:url value='/images/item.png'/>" -->
<!-- 							onclick="send();" id="item" /> -->
				</div>
				<div>
<!-- 					<input type="image" src="<c:url value='/images/lifepost.png'/>" -->
<!-- 						onclick="send();" id="lifepost" /> -->
				</div>
<!--///////////////////////////////////////////////////////////-->
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						<li data-target="#carousel-example-generic" data-slide-to="3"></li>
						<li data-target="#carousel-example-generic" data-slide-to="4"></li>
					</ol>
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
<!-- 						<div class="item active" style="background:url(<c:url value='/images/1.jpg'/>) center center; background-size:cover;"> -->
						<!--  <img class="image" src="images/1.jpg"  alt="..."> -->
						<!-- <div class="carousel-caption">meow</div> -->
					</div>
<!-- 					<div class="item" style="background:url(<c:url value='/images/2.jpg'/>) center center; background-size:cover;"> -->
						<!--  <div class="carousel-caption"></div> -->
<!-- 					</div> -->
<!-- 					<div class="item" style="background:url(<c:url value='/images/3.jpg'/>) center center; background-size:cover;"> -->
<!-- 						<div class="carousel-caption"></div> -->
<!-- 					</div> -->
<!-- 					<div class="item" style="background:url(<c:url value='/images/4.jpg'/>) center center; background-size:cover;"> -->
						<!-- <img class="image" src="images/4.jpg" alt="..."> -->
<!-- 						<div class="carousel-caption"></div> -->
<!-- 					</div> -->
<!-- 					<div class="item" style="background:url(<c:url value='/images/5.jpg'/>) center center; background-size:cover;"> -->
						<!-- <img class="image" src="images/5.jpg" alt="..."> -->
<!-- 						<div class="carousel-caption"></div> -->
<!-- 					</div> -->
				</div>
			</div>
<!--///////////////////////////////////////////////////////////-->
			<!-- <div><img src="images/cathead.png" width="250px" height="180px" id="cathead"/></div> -->
		</div>
		<div id="subTitle">Some Where We Belong</div>

		<!--  <div>
         <input type="image" src="images/login2.png" onclick="location.href='mLogin.html'" 
         id="login"/></div>      
         <div id="talkbubble" hidden><img src="images/talkbubble.png" >
            <div id="talkMSG"><a href="mLogin.html" >Login </a>or<br> 
            <a href="mRegister.html" >Register</a></div>
         </div>
            </div> -->
		<div>
<!-- 			<video id="myMovie" src="<c:url value='/video/cat.mp4'/>" autoplay loop style="opacity:0.8;"></video> -->
		</div>
	</div>
</div>

